In [4]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

In [1]:
dataset=[
    ['Milk','Onion','Bread','Kidney Beans','Eggs','Yoghurt'],
    ['Fish','Onion','Bread','Kidney Beans','Eggs', 'Yoghurt'],
    ['Milk','Apple','Kidney Beans','Eggs'],
    ['Milk','Sugar','Tea Leaves','Kidney Beans','Yoghurt'],
    ['Tea Leaves','Onion','Kidney Beans','Ice Cream','Eggs']]

In [5]:
tr=TransactionEncoder()
tr_arr = tr.fit(dataset).transform(dataset)

In [7]:
df=pd.DataFrame(tr_arr, columns=tr.columns_)
df

,Apple,Bread,Eggs,Fish,Ice Cream,Kidney Beans,Milk,Onion,Sugar,Tea Leaves,Yoghurt
0,False,True,True,False,False,True,True,True,False,False,True
1,False,True,True,True,False,True,False,True,False,False,True
2,True,False,True,False,False,True,True,False,False,False,False
3,False,False,False,False,False,True,True,False,True,True,True
4,False,False,True,False,True,True,False,True,False,True,False

In [8]:
from mlxtend.frequent_patterns import apriori
frequent_itemsets=apriori(df, min_support=0.6, use_colnames=True)
frequent_itemsets

    support                     itemsets
0       0.8                       (Eggs)
1       1.0               (Kidney Beans)
2       0.6                       (Milk)
3       0.6                      (Onion)
4       0.6                    (Yoghurt)
5       0.8         (Eggs, Kidney Beans)
6       0.6                (Eggs, Onion)
7       0.6         (Milk, Kidney Beans)
8       0.6        (Onion, Kidney Beans)
9       0.6      (Yoghurt, Kidney Beans)
10      0.6  (Eggs, Onion, Kidney Beans)

In [9]:
from mlxtend.frequent_patterns import association_rules
res = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.7)
res

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Eggs),(Kidney Beans),0.8,1.0,0.8,1.00,1.00,0.00,inf
1,(Kidney Beans),(Eggs),1.0,0.8,0.8,0.80,1.00,0.00,1.0
2,(Eggs),(Onion),0.8,0.6,0.6,0.75,1.25,0.12,1.6
3,(Onion),(Eggs),0.6,0.8,0.6,1.00,1.25,0.12,inf
4,(Milk),(Kidney Beans),0.6,1.0,0.6,1.00,1.00,0.00,inf
5,(Onion),(Kidney Beans),0.6,1.0,0.6,1.00,1.00,0.00,inf
6,(Yoghurt),(Kidney Beans),0.6,1.0,0.6,1.00,1.00,0.00,inf
7,"(Eggs, Onion)",(Kidney Beans),0.6,1.0,0.6,1.00,1.00,0.00,inf
8,"(Eggs, Kidney Beans)",(Onion),0.8,0.6,0.6,0.75,1.25,0.12,1.6
9,"(Onion, Kidney Beans)",(Eggs),0.6,0.8,0.6,1.00,1.25,0.12,inf
10,(Eggs),"(Onion, Kidney Beans)",0.8,0.6,0.6,0.75,1.25,0.12,1.6
11,(Onion),"(Eggs, Kidney Beans)",0.6,0.8,0.6,1.00,1.25,0.12,inf

In [11]:
res1 = res[['antecedents','consequents','support','confidence','lift']]
res1

              antecedents            consequents  support  confidence  lift
0                  (Eggs)         (Kidney Beans)      0.8        1.00  1.00
1          (Kidney Beans)                 (Eggs)      0.8        0.80  1.00
2                  (Eggs)                (Onion)      0.6        0.75  1.25
3                 (Onion)                 (Eggs)      0.6        1.00  1.25
4                  (Milk)         (Kidney Beans)      0.6        1.00  1.00
5                 (Onion)         (Kidney Beans)      0.6        1.00  1.00
6               (Yoghurt)         (Kidney Beans)      0.6        1.00  1.00
7           (Eggs, Onion)         (Kidney Beans)      0.6        1.00  1.00
8    (Eggs, Kidney Beans)                (Onion)      0.6        0.75  1.25
9   (Onion, Kidney Beans)                 (Eggs)      0.6        1.00  1.25
10                 (Eggs)  (Onion, Kidney Beans)      0.6        0.75  1.25
11                (Onion)   (Eggs, Kidney Beans)      0.6        1.00  1.25

In [13]:
res2=res1[res1['confidence']>=1]
res2

              antecedents           consequents  support  confidence  lift
0                  (Eggs)        (Kidney Beans)      0.8         1.0  1.00
3                 (Onion)                (Eggs)      0.6         1.0  1.25
4                  (Milk)        (Kidney Beans)      0.6         1.0  1.00
5                 (Onion)        (Kidney Beans)      0.6         1.0  1.00
6               (Yoghurt)        (Kidney Beans)      0.6         1.0  1.00
7           (Eggs, Onion)        (Kidney Beans)      0.6         1.0  1.00
9   (Onion, Kidney Beans)                (Eggs)      0.6         1.0  1.25
11                (Onion)  (Eggs, Kidney Beans)      0.6         1.0  1.25